<div class="center hero-unit name">
  <h2>Welcome to the KAKEBO</h2>
</div>
<div class="hero-unit info">
  <h2>
    <ul>
      <li>version 1.1.0 released</li>
      <ul class="detail">
        <li>グラフ対応</li>
        <li>軽微な修正・改善</li>
      </ul>
    </ul>
    <ul>
      <li>version 1.0.0 released</li>
    </ul>
  </h2>
</div>
